header {
  position: relative;
}
header h1 {
  margin: 0;
  line-height: 80px;
}
header small {
  margin-left: 20px;
  line-height: 40px;
}
header img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
menu {
  margin: 0;
}
menu ul {
  margin: 0;
  line-height: 40px;
}
menu ul a {
  display: block;
  width: 100%;
  font-size: 16px;
  color: #000;
}
menu ul a:hover {
  color: #000;
  text-decoration: underline;
}
@media (max-width: 768px) {
  menu {
    padding: 0;
  }
}
